body{
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2{
    font-family: 'Fredoka One', cursive;
    font-size: 1.125rem;
    line-height: 1.6rem;
    color:rgb(13, 130, 13);
    font-weight: bold;
    text-transform: uppercase;
    font-style:italic;
    width: auto;
    margin-top: auto;
    margin: 3%;
    border: 1%;
    text-shadow: .2em .2em .1em siliver;
}
h1{font-size: 2.5rem
;}
P{line-height: 1.4rem;}


