.container{
    width: 1140px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:row;
    background-color:cornflowerblue;
    justify-content: space-around;
    align-items: center;
}

.box{
    width:200px;
    height:200px;
    background-color: deeppink;
    margin:16px;
    text-align:center;
}

.box3{align-self: flex-end;
}