body{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.2em;
}
    
#wrapper{
    overflow: auto;
    max-width: 1200px;
    margin:0 auto;
    padding-bottom: 2em;
    background: rgb(174,215,146);
    background: linear-gradient(90deg, rgba(174,215,146,0.9416141456582633) 0%, rgba(214,246,175,0.5802696078431373) 15%);
}

p,h2, h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

h1{
    font-family: ;
    margin-bottom: 1em;}

.lead{
    color: white;
    width: 300px;
}
h1 img{
    max-width: 100%;
}

header button{
    background-color: orange;
    background-image: url("images/play.png");
    background-repeat: no-repeat;
    background-position: 10%;
    border-radius: none;
    color: black;
    padding: 10px;
    padding-left: 25px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 5em;
}

header{
    background: rgb(9,54,121);
    background: linear-gradient(90deg, rgba(9,54,121,0.9416141456582633) 1%, rgba(11,101,136,0.9864320728291317) 21%, rgba(11,101,136,0) 40%), url(images/full_house13.jpg) no-repeat right; padding:2em; 
}

header p{
    width: 15%;
}

h1 image{
    max-width: 100%;
    max-height: 100%;
}

button{
    display: block;
    font-weight:bold;
    width: 7em;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    color: #021a25;
}

nav li{
    display: inline-block;
    padding: 0.5em 2em ;  
}

nav li:hover{
    background-color: orange;
}

nav{text-align: right;
    padding: 0.5em;
    background-color:#7187f5
    
}

nav a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
}

main{
    width: 100%;
    padding: 0 3em;
}

.col{
    float:left;
    margin-right: 2em;
    width:47%;
}

.col:last-child{
    margin-right:0%
}

